.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 24px;
}

.modal__close-btn {
  background-image: url("../../assets/close-btn.svg");
  background-color: transparent;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.modal__label {
  font-weight: 700;
}

.modal__input {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 0;
  padding-top: 8px;
  line-height: 24px;
}

.modal__input--large {
  line-height: 29px;
  padding-top: 3px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__legend {
  font-weight: 700;
  padding-bottom: 12px;
}

.modal__label_type_radio {
  display: flex;
  gap: 8px;
}

.modal__radio-input {
  accent-color: #000;
}

.modal__submit {
  color: #fff;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  width: 124px;
  margin-top: 6px;
}

.modal__switch {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  /* height: 36px;
  width: 124px; */
  color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border-style: none;
  margin-top: 32px;
  margin-bottom: 36px;
  margin-left: 12px;
  cursor: pointer;
  background: none;
  padding: 0;
}
