.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
  align-self: flex-start;
}

.loggedin_nav-container {
  display: flex;
  flex-direction: row;
}

.header__date-and-location {
  margin: 0;
}

.header__profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none !important;
  padding-right: 40px;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 100%;
  padding-right: 12px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}

.header__nav-link {
  color: #000;
  text-decoration: none;
}

.header__signup-button {
  font-weight: 700;
  line-height: 24px;
  padding: 0px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
}

.header__login-button {
  font-weight: 700;
  line-height: 24px;
  padding-right: 40px;
  padding-left: 20px;
  margin: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
}

.loggedin_nav-container {
  display: flex;
  flex-direction: row;
}
