.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.sidebar__username {
  font-weight: 700;
  font-size: 20px;
  width: max-content;
}

.sidebar__buttons-container {
  position: absolute;
  top: 223px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 8px;
}

.sidebar__change-profile-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-weight: 700;
  text-align: left;
}

.sidebar__logout-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-weight: 700;
  text-align: left;
}
